.movie-container{
    background-color:#382933;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .movie-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: 5% 25% 25% 25% 20%;
        background-color: #206a5d;
        color: #444;
        justify-content: center;
        align-content: center;
        width: 80%;
        height: 100%;
    
        .img-container {
          grid-area: 2 / 1 / 3 / 3;
          margin: 2%;
          width: 40em;
          height: 22em;
          justify-self: center;
          text-align: center;

          .trailer-image{
            display: flex;
            border-radius: 2%;
            box-shadow: 8px 11px 27px -6px rgba(0,0,0,0.51);
            flex-direction: row;
            height: 22em;
            width: 39em;
          }
        }
    
        .trailer-container {
            box-shadow: 8px 11px 27px -6px rgba(0,0,0,0.51);
            grid-area: 3 / 1 / 4 / 3;
            height: 15em;
            margin: 2%;
            overflow: auto;
            width: 90%;
            
            .trailerList{
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: center;
                
            }
        }
    
    }
}



