.movie-container{
    background-color: rgb(61, 47, 61);
    display: flex;
    flex-direction: row;
    justify-content: center;

    .movie-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        background-color: #c28b8b;
        color: #444;
        justify-content: center;
        align-content: center;
        width: 80%;
        height: 100%;
    
        .img-container {
          background-color: rgb(61, 47, 61);
          grid-area: 2 / 1 / 3 / 3;
          // width: 350px;
          margin: 2%;
          // height:350px;
          width: 40em;
          height: 22em;
          justify-self: center;
          text-align: center;

          .trailer-image{
            display: flex;
            flex-direction: row;
            width: 39em;
            height: 22em;
          }
        }
    
        .trailer-container {
            background-color: violet;
            grid-area: 3 / 1 / 4 / 3;
            overflow: auto;
            width: 90%;
            height: 15em;
            margin: 2%;
            
            .trailerList{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                
            }
        }
    
    }
}



