.movie-header {
    text-align: center;
    background-color: #213e3b;
    color: #fadcac;
    grid-column: 1 ;
    grid-row: 1 ;
    grid-area: 1 / 1 / 2 / 4;
}

.rate-movie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.delete-rating {
    margin-right: 25px
}

.add-rating {
    margin-left: 25px
}

.selector {
    width: 125px;
    font-size: 10;
    background-color: black
}
.favorite-movie {
    height:25px;
    border: none;
    background-color: transparent;
  }