.form-container{

    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(18, 83, 67);
    justify-content: center;
    width: 60vh;
    height: 50vh;
    border: 1px steelblue solid;


    // .password-title, .user-title{
    
    // }
    .close-login{
      background-color: #EFEFEF;
      border: 1px steelblue solid;
    //   border-radius: 50%;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      padding: 2px
      

    }

    #userName, #password, #email{
        font-size: 1em;
        width: 35vh;
        height: 100%;
    }

    .log-in-button{
        text-align: center;
        margin: 5%;
        width: 30%;
        
    }

    .log-in-button{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        text-align:center;
        transition: all 0.2s;
        width: 10em;
    }

    .log-in-button:hover{
        color:#000000;
        background-color:#FFFFFF;
    }
}

