
.sort-container{
    display: flex;
    flex-direction: row;
    .cards-title{
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
        font-size: 3em;
        background-color: #213e3b;
        color: #bfdcae;
        margin: 0px;
        padding: 0px;
        padding-left: 5%;
    }

}