//font-family: 'Condiment', cursive;
//font-family: 'Condiment', cursive;
//font-family: 'Delius', cursive;
.main-title{
  font-size: 4em;
  font-spacing: 2px;
  font-family: 'Condiment', cursive;
  background-color: burlywood;
}