//font-family: 'Condiment', cursive;
//font-family: 'Condiment', cursive;
//font-family: 'Delius', cursive;
.main-title{
  font-size: 4em;
  letter-spacing: 3px;
  color: #7ea04d;
  font-family: 'Condiment', cursive;
  background-color: #f8efd4;
}