//font-family: 'Condiment', cursive;
//font-family: 'Condiment', cursive;
//font-family: 'Delius', cursive;
.main-title{
  font-size: 4em;
  letter-spacing: 3px
  color: #931a25;
  font-family: 'Condiment', cursive;
  background-color: burlywood;
}