.error-section{

  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(206, 47, 47);
  justify-content: center;
  width: 60vh;
  height: 50vh;

  #h1{
      font-size: 1em;
      width: 35vh;
      height: 100%;
      color: white
  }
}
