.movie-card-container {
    display: flex;
    justify-content: center;
    background-color: #bfdcae;
    grid-area: 2 / 3 / 4 / 4;
    width: 100%;
    height: 100%;
    box-shadow: -15px 17px 27px -6px rgba(0,0,0,0.51);
    .inner-container{
        background-color: papayawhip;
        text-align: center;
        height: 100%;
        width: 95%;;

        .overview-container{
            text-align: center;
            .overview{  
              background-color: #bfdcae;
              width: 85%;
              padding: 8%;
            }
        }

        .box{
          display: grid;
          grid-template-columns: 50% 50%;
          grid-column-gap: 10px;
          align-content: center;
          width: 100%;
          margin: 0%;
          height: 4vh;
          align-items: center;

            .title{
                font-size: 1em;
                margin: 0%;
                justify-self: right;
                
            }

            .value{
                justify-self: left;
            }

        }
        .title{
            font-size: 1.5em;
            margin: 0%;
        }

        ul{
        //   display: inline-flex;
          justify-content: start;
          justify-items: start;
          margin: 0px;
          padding: 0px;
         
            .single-genre{
                text-decoration: none;
                margin: 0px;
                height: 1.5vh;
                text-align: left;
            }
        }
    }

}